.spinnerContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

.spinners {
  width: 10vmin; /* Responsive size based on viewport */
  height: 10vmin;
  display: grid;
  border: 1vmin solid transparent;
  border-radius: 50%;
  border-right-color: #299fff;
  animation: tri-spinner 1s infinite linear;
}

.spinners::before,
.spinners::after {
  content: "";
  grid-area: 1/1;
  margin: 0.5vmin;
  border: inherit;
  border-radius: 50%;
  animation: tri-spinner 2s infinite;
}

.spinners::after {
  margin: 2vmin;
  animation-duration: 3s;
}

@keyframes tri-spinner {
  100% {
      transform: rotate(1turn);
  }
}

.loaders {
  color: #4a4a4a;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3vmin; /* Responsive font size */
  box-sizing: content-box;
  height: 10vmin;
  padding: 2vmin;
  display: flex;
  border-radius: 1vmin;
  align-items: center;
}

.words {
  overflow: hidden;
  height: 100%;
}

.word {
  display: block;
  height: 100%;
  padding-left: 1vmin;
  color: #299fff;
  animation: cycle-words 5s infinite;
}

@keyframes cycle-words {
    10% {
        -webkit-transform: translateY(-105%);
        transform: translateY(-105%);
      }
    
      25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
      }
    
      35% {
        -webkit-transform: translateY(-205%);
        transform: translateY(-205%);
      }
    
      50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
      }
    
      60% {
        -webkit-transform: translateY(-305%);
        transform: translateY(-305%);
      }
    
      75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
      }
    
      85% {
        -webkit-transform: translateY(-405%);
        transform: translateY(-405%);
      }
    
      100% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
      }
}